.page-title {
    text-align: center;
    color: aliceblue;
}

body{
    background-color: #690083;
    /*background-image: url("https://cdn.pixabay.com/photo/2015/08/05/03/53/brazil-875577_960_720.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.container-title {

}

.container {
    display: flex;
    justify-content: space-between;
}

.oitavas {
    display: flex;
    flex-direction: column;
}

.grupos div {
    margin-bottom: 10px;
    width: 100px;
    border: solid;
    display: flex;
    border-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

.bandeira {
    width: 40px;
    height: 40px;
    border-radius: 10cm;
    border-color: white;
    background-color: aquamarine;
    cursor: move;
}

p {
    padding: 0px;
    margin: 0px;
}

.oitavas {
    width: 100px;
    border-color: white;
    border: solid;
}

.dropzone {
    padding: 1em;
}

#zona1 {
    background-color: brown;
}

#zona2 {
    background-color: aqua;
}

.arrastando {
    opacity: 0.5;
}
